@charset "UTF-8";

* {
	/*padding: 0;*/
	/*margin: 0;*/
	box-sizing: border-box;
}

body {
  background-color: #F5F5F7;
  font-family: 'Josefin Slab', sans-serif;
}

h1 {
	margin: 0px;
	text-align: center;
 	color:#d2cbd7;	
  font-family: 'Josefin Slab', sans-serif;	
	font-size: 42px;
}

table, th, td {
  border:1px solid black;
  width: auto;
}

.listing{
    margin-left: 50px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 25px;
    color:#85778D;
}

.p1 {
  font-family: 'Josefin Slab', sans-serif;
	align: center;
	color:#6F6F6F;
}
.allImages{
	border-width: 2px;
	border-radius: 25px;
	width: 40px; 
	height: 40px;
}

.workImages{
	width:45%;
}

.showsImagesIcon {
	border-width: 2px;
	border-radius: 25px;
	width: 70px; 
	height: 100px;
	display: block;
}
/*W3 Schools Navbar starts here...*/
/*Stuff for nav bar itself*/
.topnav {
  overflow: hidden;
  background-color: #6F6F6F;
  /*Changes roundness of navbar*/
  border-radius: 10px;
}

/*Where nav bar is placed*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #B6B6B6 ;
  font-size: 17px;
}

/*Color of 'Home' icon in navbar*/
.active {
  background-color: #6F6F6F;
  color: white;
}

/*makes hamburger menu disapper until needed*/
.topnav .icon {
  display: none;
}

/*Where dropdown in navbar sits */
.dropdown {
  float: left;
  overflow: hidden;
}

/*how big the homework dropdown is*/
.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  text-shadow: 2px 2px 2px #B6B6B6 ;
  font-family: inherit;
  margin: 0;
}

/*design of dropdown stuff*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B6B6B6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/*color of dropdown stuff*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #B6B6B6;
  display: block;
  text-align: left;
}

/*background when hovered over for dropdown and topnav itself*/
.topnav a:hover, .dropdown:hover .dropbtn {
  background: url("../images/giffy2.gif");
  color: white;
}

.dropdown-content a:hover {
  background: url("../images/giffy2.gif");
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  /*Changes roundness of dropdown*/
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/*Changed this from 600px to 2000px to get the boarder to the end of the webiste page*/
@media screen and (max-width: 2000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: static;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  /*and ends here...*/

  .listing a:hover {
    color: #c0c2c9;
    text-shadow: 5px 5px 3px #B6B6B6 ;
  }

  .main {
      margin: 50px;
      font-size: 20px; /* Increased text to enable scrolling */
      padding: 0px 10px;
      font-family: 'Josefin Slab', sans-serif;
      color:#85778D;
  }

  /* source for scroll horizontal- https://www.youtube.com/watch?v=2_E5uoiLCLY */
.wrapper{
	margin: 50px;
	max-height: align;
	/* if you want a border - border: double;*/
	border-width: thick;
	border-right: auto;
	display: flex;
	overflow-x: auto;
}

  /*make number bigger if you want the bottom scroll bar*/
.wrapper::-webkit-scrollbar{
	width: 0;
}

.wrapper .item {
	min-width: 110px;
	height: 210px;
	line-height: 110px;
	text-align: right;
	background-color: #ddd;
	margin-right: 2px;
	border-radius: 25px;
}

/* STARTING HERE FROM VIDEO - https://www.youtube.com/watch?v=Oa9LTDR9ugU */
.container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/travel-background.jpeg");
	background-position: center;
	background-size: cover;
}

.row {
	display:block;
	height: 88%;
	align-items: center;
}

.col {
	flex-basis: 50%;
}

h2 {
	color: #fff;
	font-size: 100px;
}

p {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
}

button {
	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}

.card {
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}

.card1 {
	background-image: url("../images/place1.webp");
}
.card2 {
	background-image: url("../images/place2.jpeg");
}
.card3 {
	background-image: url("../images/place3.webp");
}
.card4 {
	background-image: url("../images/place4.webp");
}

.card:hover {
	transform: translateY(-10px);
}

h5 {
	color: #fff;
	text-shadow: 0 0 5px #999;
}

.card p {
	text-shadow: 0 0 15px #000;
	font-size: 8px;
}

/*HAMBURGER MENU STUFF WHEN WINDOW RESIZES*/
.navbar {
	min-height: 70px;
	display: flex;
	justify-content:left; /*I changed this from space between to left so that the nav bars on the left*/
	align-items: center;
	padding: 0 24px;
}

.nav-menu {
	display: block; /*I changed this from flex to block so I could see my dropdown menu*/
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

header {
  margin: 10px;
  grid-row: 1;
  grid-column: 1 / 4;
  align-self: center;
  text-align: center;
}
/*W3 Schools contact form code */
input[type=text], select, textarea {
  font-family: 'Josefin Slab', sans-serif;
  width: 100%;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Josefin Slab', sans-serif;
  background-color: #6F6F6F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  font-family: 'Josefin Slab', sans-serif;
  background-color: #27339f;
}

.container2 {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
}

/*Use for Background image but beware of the elongated nav bar*/
/* .body1 {
  width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/greyness.jpeg");
	background-position: center;
	background-size: cover;
} */
label {
  color: #ffffff;
}



/*SIDEBAR FROM W3 Schools Link - https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp (I did auto height)*/

@media (max-width: 700px) {
	body {background-color: #535353;}
	video{text-align: center;}
	.workImages {text-align: center;}
    /*.sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}*/
}

/*reduce screen size to see the change */
 /*@media (max-width: 600px) {
    body {background-color: cornflowerblue;}
    img {display: none;}
	video {display: none;}
    .greenDiv {display: none;} 
} */

.gridPara {
  color: white;
  font-size: 20px;
  line-height: normal;
}
.bodyKaisen{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/kaisen2.jpeg");
  background-size: cover;
}
/*--------------------GRID CSS Includes the header and body part--------------------------*/

#theGrid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: min-content 1fr min-content;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/kaisen2.jpeg");
  background-size: cover;
  border-radius: 10px;
  font-size: 20px;
}
/* Left Boarder*/
nav {
  background-color: rgb(107, 107, 107);
  grid-row: 2;
  grid-column: 1 / 2;
  border: 1px solid;
  opacity: .5;
  border-radius: 10px;
}
/* Main Content Part*/
main {
  /* background-color: rgb(143, 143, 143); */
  grid-row: 2;
  grid-column: 2 / 3;
  /* border: 1px solid; */
  align-self:center;
  display:block;
  grid-template-columns: 10fr 10fr;
  grid-template-rows: 1fr 1fr;
  opacity: .7;
}

.nestedItem {
  background-color: #B6B6B6;
  grid-row: 2;
  border: 1px solid #828282;
}
/* Right Boarder*/
aside {
  background-color: rgb(220, 220, 220);
  grid-row: 2;
  grid-column: 3 / 4;
  border: 1px solid;
  opacity: .5;
  border-radius: 10px;
}

footer {
  background-color: grey;
  grid-row: 3;
  grid-column: 1 / 4;
  border: 1px solid;
  opacity: .5;
}
.centerImages {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  opacity: 1;
}
}